@import '../../../styles';
.transparent { background: transparent; }
.dark { background: $cBlackTheme; }
.navbar {
    /*  */
    position: fixed !important;
    width: 100%;
    z-index: 1;
    /* */

    img { width: 190px; }
    .navbar-collapse {
        .navbar-nav {
            margin: auto;
            margin-top: 0;
            .nav-item {
                .nav-link {
                    color: $cWhite;
                    font-size: 18px;
                }
            }
        }
        .btn-signup {
            width: 190px;
            button {
                height: 61px;
                width: 152px;
                left: 1720px;
                top: 14px;
                float: right;
                background: $cWhite;
                color: $cBlackButton;
                border-radius: 60px;
                border: 0;
            }
        }
    }
}
.sticky {
    background: $cBlackTheme;
    z-inde: 999;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
