<nav class="navbar navbar-expand-lg" [ngClass]="{ 'transparent': transparent, 'sticky': sticky, 'dark': dark }">
    <div class="container-fluid">
        <a href="#">
          <img src="../../assets/images/Logo-cabeceraScroll.svg" alt="Logo compare">
        </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Página principal</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CPU
                </a>
                <ul class="dropdown-menu" >
                    <li><a class="dropdown-item" routerLink="/amd" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">AMD</a></li>
                    <li><a class="dropdown-item" href="#">Intel</a></li>
                    <li><a class="dropdown-item" href="#">Apple</a></li>
                </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Como elegir portatil</a>
            </li>
        </ul>
        <div class="btn-signup">
            <button class="btn btn-outline-success" type="submit">Sign Up</button>
        </div>
        </div>
    </div>
</nav>
