
    .container-fluid {
        background: linear-gradient(249.78deg, #5867E4 -0.64%, #B200F1 103.6%);
        height: 450px;
        text-align: center;
        .box-search {
            position: relative;;
            width: 60%;
            top: 35%;
            margin: auto;
        }
    }
