<div class="container-fluid">
  <div class="box-search">
    <div class="title-search">
        <h1>Compare portátiles</h1>
    </div>
    <span id="description-search">Comparamos especificaciones y precios de portátiles</span>
    <div class="input-search">
        <input type="text" placeholder="Busca portátiles" />
        <button type="button" class="btn btn-search">Ver portatil</button>
    </div>
  </div>
</div>
<div class="container">
    <div id="title-valoracionesHome">
        <h1>Mejores valoraciones en Amazon</h1>
    </div>
    <!-- Fila 1  -->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="../../../assets/images/laptop1.jpg" class="card-img-top" alt="Imagen laptop">
                <div class="card-body">
                  <h5 class="card-title">Laptop 1</h5>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="../../../assets/images/laptop1.jpg" class="card-img-top" alt="Imagen laptop">
                <div class="card-body">
                  <h5 class="card-title">Laptop 2</h5>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="../../../assets/images/laptop1.jpg" class="card-img-top" alt="Imagen laptop">
                  <div class="card-body">
                    <h5 class="card-title">Laptop 3</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
        </div>
    </div>
    <!-- Fila 2 -->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="../../../assets/images/laptop1.jpg" class="card-img-top" alt="Imagen laptop">
                <div class="card-body">
                  <h5 class="card-title">Laptop 1</h5>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="../../../assets/images/laptop1.jpg" class="card-img-top" alt="Imagen laptop">
                <div class="card-body">
                  <h5 class="card-title">Laptop 2</h5>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="../../../assets/images/laptop1.jpg" class="card-img-top" alt="Imagen laptop">
                  <div class="card-body">
                    <h5 class="card-title">Laptop 3</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="container-eleccion">
    <div class="eleccion">
        <span class="subhead-eleccion">GUÍA COMO ELEGIR PORTATIL</span>
        <h1 class="title-eleccion">¿QUIERES SABER CÓMO ELEGIR TU PORTATIL IDEAL?</h1>
        <p>En la guía encontrarás dettalladamente como elegir un portatil, según la finalidad que le vayas a dar, teniendo en cuenta su hardware</p>
        <button class="btn btn-outline-success" type="submit">VER MÁS</button>
    </div>
</div>
