<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col">
            <img src="{{laptop.image}}" class="card-img-top" alt="Imagen laptop">
        </div>
        <div class="col-md-auto">
            <h2 class="title-laptop">{{laptop.brand}} {{laptop.model}} {{laptop.cpu}}-{{laptop.cpu_speed}}/{{laptop.ram_size}}/{{laptop.rom}}/{{laptop.resolution}}</h2>
            <div class="contain-valoration-price">
                <div class="box-price-amazon">
                    <a href="{{laptop.url}}" target="_blank">
                        <div class="price-amazon p-2">
                            <span class="price">{{laptop.price}} €</span>
                            <img class="logo-amazon" src="../../../assets/images/Nuevo-Logo-PcComponentes.jpg" alt="Logo Amazon"/>
                        </div>
                    </a>
                </div>
                <div class="valoration">
                    <h6>Valoración media de nuestros usuarios</h6>
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">
                                &#9733;
                            </span>
                            &#9733;
                        </span>
                    </ng-template>
                    <ngb-rating [(rate)]="laptop.valoration" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start">
          <button (click)="addLaptop(laptop._id)" class="mt-3 btn btn-dark to-compare"><img src="../../../assets/icons/boton-circular-plus.svg"> Añadir al comparador</button>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="title-tecnico">Detalles técnicos</h2>
    <div class="row">
      <div class="col-4">Marca</div>
      <div class="col-6">{{laptop.brand}}</div>
  </div>
  <hr class="container-separator">
    <div class="row">
        <div class="col-4">Modelo</div>
        <div class="col-6">{{laptop.model}}</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Fecha de fabricación</div>
        <div class="col-6">{{formatDate(laptop.fabric_date)}}</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Procesador</div>
        <div class="col-6"><p>{{laptop.cpu}}</p><p>{{laptop.cpu_core}} Núcleos</p><p>{{laptop.cpu_speed}} GHz</p></div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Memoria RAM</div>
        <div class="col-6"><p>{{laptop.ram_type}}</p><p>{{laptop.ram_size}} GB</p><p>Ampliable {{laptop.ram_expand}} GB</p><p>{{laptop.ram_speed}} MHz</p></div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Gráfica</div>
        <div class="col-6">{{laptop.graphics}}</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Almacenamiento</div>
        <div class="col-6">{{laptop.rom}}</div>
    </div>
    <hr class="container-separator">
    <div class="row">
      <div class="col-4">Pantalla</div>
      <div class="col-6">{{laptop.resolution}}</div>
  </div>
  <hr class="container-separator">
    <div class="row">
        <div class="col-4">Puertos</div>
        <div class="col-6"><p>Hdmi: {{laptop.hdmi}}</p><p>USB: {{laptop.usb}}</p></div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Sistema Operativo</div>
        <div class="col-6">{{laptop.os}}</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Batería</div>
        <div class="col-6">{{laptop.battery}} mAh</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Peso</div>
        <div class="col-6">{{laptop.weight}} kg.</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Regístrate y valora este portátil</div>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">
              &#9733;
        </span>
        &#9733;
          </span>
        </ng-template>

        <ngb-rating [(rate)]="laptop.valoration" [starTemplate]="t" [readonly]="false" [max]="5"></ngb-rating>
    </div>

</div>
