<div class="container-fluid">
    <div class="row">
        <div class="image">
            <img src="../../../assets/images/laptop1.jpg" class="card-img-top" alt="Imagen laptop">
        </div>
        <div class="laptop-entry">
            <h2 class="title-laptop">HP Pavilion 15-eg0005ns Intel Core i5-1135G7/8GB/512GB SSD/MX350/15.6"</h2>
            <div class="box-price-amazon">
                <a href="#">
                    <div class="price-amazon">
                        <span class="price">1000€</span>
                        <img class="logo-amazon" src="../../../assets/images/amazon-logo.png" alt="Logo Amazon"/>
                    </div>
                </a>
            </div>
            <div class="valoration">
               <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">
            &#9733;
      </span>
      &#9733;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="title-tecnico">Detalles técnicos</h2>
    <div class="row">
        <div class="col-4">Modelo</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Fecha de fabricación</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Procesador</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Memoria RAM</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Gráfica</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Pantalla</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Almacenamiento</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Puerto E/S</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Sistema Operativo</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Batería</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
    <hr class="container-separator">
    <div class="row">
        <div class="col-4">Peso</div>
        <div class="col-6">Lorem Ipsum</div>
    </div>
</div>
