<div class="contact-panel mt-3 ms-5">
  <div class="title d-flex mb-4">
    <h2 class="me-auto">Panel de contacto</h2>

  </div>

  <div class="admin-data">
    <div class="image rounded-circle me-3"></div>
    <div>
      <p>0000001-LCA</p>
      <p>Cristian Fernández</p>
    </div>
  </div>

  <div class="container">
    <div class="row ">
      <div class="admins-box col-6 col-sm-6 col-md-6 col-lg-6 mt-5">

          <div class="row">
            <div
              class="
                col-6 col-sm-6 col-md-6 col-lg-6
                d-flex
                justify-content-start
              "
            >
              <h6>Administrador</h6>
            </div>
            <div
              class="
                col-2 col-sm-2 col-md-2 col-lg-2
                d-flex
                justify-content-start
              "
            >
              <h6>ID</h6>
            </div>
            <div
              class="
                col-4 col-sm-4 col-md-4 col-lg-4
                d-flex
                justify-content-end
              "
            ></div>
          </div>

        <div *ngFor="let admin of admins">
          <div class="container admin-row border border-secondary mt-2">
            <div class="row">
              <div
                class="
                  col-8 col-sm-8 col-md-6 col-lg-6
                  d-flex
                  justify-content-start
                  align-items-center
                "
              >
                <div class="image-small rounded-circle me-3"></div>
                <h6>{{ admin.name }} {{ admin.lastname }}</h6>
              </div>
              <div
                class="
                  col-4 col-sm-4 col-md-2 col-lg-2
                  d-flex
                  justify-content-start
                  align-items-center
                "
              >
                <h6>{{ admin.adminID }}</h6>
              </div>
              <div
                class="
                  col-4 col-sm-4 col-md-4 col-lg-4
                  d-flex
                  justify-content-end
                  align-items-center
                "
              >
                <button (click)="openContact()" class="btn btn-primary">
                  <img
                    class="icon-button me-3"
                    src="../../../assets/icons/mail.svg"
                  />Contactar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <div *ngIf="isContact" class="container">
          <div class="row">
            <div class="new-message col-12 col-sm-12 col-md-12 col-lg-12 py-3 mt-5">
              <div class="d-flex align-items-center">
                <div class="to-admin me-auto">
                  <h4>Enviar email a Kiril Stefanov</h4>
                </div>
              <button (click)="openContact()" class="close ms-auto btn btn-dark" aria-label="Close">
                <span aria-hidden="true">X</span>
              </button>
            </div>
              <div class="form-group mb-2">
                <label for="mail">Email</label>
                <input type="email" class="form-control" id="mail" />
              </div>
              <div class="form-group mb-2">
                <label for="mail">Asunto</label>
                <input type="text" class="form-control" id="mail" />
              </div>
              <div class="form-group mb-2">
                <label for="exampleFormControlTextarea1">Mensaje</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="10"
                ></textarea>
              </div>
              <div class="d-flex justify-content-center">
                <button class="mt-3 btn btn-dark">Enviar mensaje</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
