.control-panel{
  width: 93%;

  .image{
    background: url("../../../../assets/images/laptop1.jpg");
    background-size: cover;
    background-position: center center;
    width: 7rem;
    height: 4rem;
  }
}



.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.full {
  color: rgb(255, 196, 0);
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(255, 196, 0);
}
