<div class="container-fluid"></div>
<div class="container">
    <div class="row">
        <!-- <div *ngFor="let item of allLaptops" class="col-sm-6 col-md-4 col-lg-3">
            <a [routerLink]="['/amd/' + item._id]" routerLinkActive="router-link-active">
                  <div class="card">
                    <div class="card-img-top" [ngStyle]="{'background-image': 'url('+ item.image +')' }"></div>
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <a [routerLink]="['/amd/' + item._id]"class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </a>
        </div> -->
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="card">
                    <img src="../../../assets/images/laptop1.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <h5 class="card-title">Prueba</h5>
                      <a class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
        </div>
    </div>
</div>
