<div class="container">
    <h1 class="title">Sobre nosotros</h1>
    <p class="texto">Compare es un sitio web en él que se comparan portátiles gaming para ayudar a decidir la
    elección correcta, porque es un verdadero desafío encontrar el portátil perfecto con la ajetreada
    vida actual que llevamos al ser bombardeados con información constantemente al elegir un
    producto. Con información a veces sesgada por fabricantes y minoristas, no hay precisión
    garantizada en lo que encontrará en el proceso de la investigación. Vimos que los sitios
    comparativos orientados a tecnología exclusivamente gaming no están muy presentes en el
    mercado.</p>
    <p class="texto">El proyecto surgió como idea de proyecto final para el curso Fullstack 1º edición de la EOI hecho por
    el grupo 10 formado por:</p>
    <div class="grupo10">
        <div class="card">

        </div>
    </div>
</div>
