
<div class="fondo">
<div class="wrapper fadeInDown">
  <div id="formContent">


    <!-- Icon -->
    <div class="fadeIn first py-3 logo">
      <img src="../../../assets/images/Logo-cabeceraTransparente.svg" id="laptop" alt="User Icon" routerLink="/"/>

    </div>
    <div class="dashboard-text"><h3><span>DASHBOARD</span></h3></div>

    <!-- Login Form -->
    <form
      [formGroup]="mForm"
      (ngSubmit)="sendData()"
      class="needs-validation"
      novalidate
    >
      <div>
        <div class="label"><h6>Identificador de administrador</h6></div>
        <input
          type="email"
          class="fadeIn second form-control"
          id="validationCustom01"
          placeholder="Introduce tu identificador de administrador"
          formControlName="email"
          [ngClass]="{ 'is-invalid': isSend && f.email.errors }"

        />
        <div class="invalid-feedback ">Introduce un identificador válido</div>
      </div>
      <div>
        <div class="label mt-2"><h6>Contraseña</h6></div>
        <input
          type="password"
          class="fadeIn third form-control"
          id="validationCustom02"
          placeholder="Introduce tu contraseña"
          formControlName="password"
          [ngClass]="{ 'is-invalid': isSend && f.password.errors }"

        />
        <div class="invalid-feedback ">Introduce una contraseña válida</div>
      </div>
      <button class="fadeIn fourth my-4">Log in</button>
      <br/>

    </form>
  </div>
</div>
</div>
