<div class="container">
    <h1 class="title">
        AVISO LEGAL
    </h1>
    <h2 class="title">
        LEY DE LOS SERVICIOS DE LA SOCIEDAD DE LA INFORMACIÓN
    </h2>
    <p class="text"><strong>Compare S.A</strong>, responsable del sitio web, en adelante RESPONSABLE, pone a disposición de los
    usuarios el presente documento, con el que pretende dar cumplimiento a las obligaciones
    dispuestas en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del
    Comercio Electrónico (LSSICE), así como informar a todos los usuarios del sitio web respecto a cuáles
    son las condiciones de uso.</p>
    <p class="text">Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la
    observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra
    disposición legal que fuera de aplicación.</p>
    <p class="text"><strong>Compare S.A</strong>. se reserva el derecho de modificar cualquier tipo de información que pudiera
    aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los
    usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web
    de <strong>Compare S.A</strong></p>
    <h3 class="title">
        1. DATOS IDENTIFICATIVOS
    </h3>
    <p class="text">Denominación social: <strong>Compare S.A</strong></p>
    <p class="text">Nombre comercial: <strong>Compare</strong></p>
    <p class="text">CIF: <strong>b-00000000</strong></p>
    <p class="text">Domicilio: <strong>España</strong></p>
    <p class="text">Sitio Web: <strong>www.compare-laptops.com</strong></p>
    <p class="text">e-mail: <strong>compare.laptop2021@gmail.com</strong></p>
    <h3 class="title">
        2. OBJETO
    </h3>
    <p class="text">A través del Sitio Web, les ofrecemos a los Usuarios la posibilidad de acceder a la información sobre
    nuestros servicios.</p>
    <h3 class="title">
        3. PRIVACIDAD Y TRATAMIENTO DE DATOS
    </h3>
    <p class="text">Cuando para el acceso a determinados contenidos o servicio sea necesario facilitar datos de carácter
    personal, los Usuarios garantizarán su veracidad, exactitud, autenticidad y vigencia. La empresa dará
    a dichos datos el tratamiento automatizado que corresponda en función de su naturaleza o
    finalidad, en los términos indicados en la sección de Política de Privacidad.</p>
    <h3 class="title">
        4. PROPIEDAD INDUSTRIAL E INTELECTUAL
    </h3>
    <p class="text">El Usuario reconoce y acepta que todos los contenidos que se muestran en el Espacio Web y en
    especial, diseños, textos, imágenes, logos, iconos, botones, software, nombres comerciales, marcas,
    o cualesquiera otros signos susceptibles de utilización industrial y/o comercial están sujetos a
    derechos de Propiedad Intelectual y todas las marcas, nombres comerciales o signos distintivos,
    todos los derechos de propiedad industrial e intelectual, sobre los contenidos y/o cualesquiera otros
    elementos insertados en el página, que son propiedad exclusiva de la empresa y/o de terceros,
    quienes tienen el derecho exclusivo de utilizarlos en el tráfico económico. Por todo ello el Usuario se
    compromete a no reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma
    comunicar públicamente, transformar o modificar tales contenidos manteniendo indemne a la
    empresa de cualquier reclamación que se derive del incumplimiento de tales obligaciones. En ningún
    caso el acceso al Espacio Web implica ningún tipo de renuncia, transmisión, licencia o cesión total ni
    parcial de dichos derechos, salvo que se establezca expresamente lo contrario. Las presentes</p>
    <p class="text">Condiciones Generales de Uso del Espacio Web no confieren a los Usuarios ningún otro derecho de
    utilización, RRHH, alteración, explotación, reproducción, distribución o comunicación pública del
    Espacio Web y/o de sus Contenidos distintos de los aquí expresamente previstos. Cualquier otro uso
    o explotación de cualesquiera derechos estará sujeto a la previa y expresa autorización
    específicamente otorgada a tal efecto por la empresa o el tercero titular de los derechos afectados.</p>
    <p class="text">Los contenidos, textos, fotografías, diseños, logotipos, imágenes, programas de ordenador, códigos
    fuente y, en general, cualquier creación intelectual existente en este Espacio, así como el propio
    Espacio en su conjunto, como obra artística multimedia, están protegidos como derechos de autor
    por la legislación en materia de propiedad intelectual. La empresa es titular de los elementos que
    integran el diseño gráfico del Espacio Web, lo menús, botones de navegación, el código HTML, los
    textos, imágenes, texturas, gráficos y cualquier otro contenido del Espacio Web o, en cualquier caso
    dispone de la correspondiente autorización para la utilización de dichos elementos. El contenido
    dispuesto en el Espacio Web no podrá ser reproducido ni en todo ni en parte, ni transmitido, ni
    registrado por ningún sistema de recuperación de información, en ninguna forma ni en ningún
    medio, a menos que se cuente con la autorización previa, por escrito, de la citada Entidad.</p>
    <p class="text">Asimismo queda prohibido suprimir, eludir y/o manipular el «copyright» así como los dispositivos
    técnicos de protección, o cualesquiera mecanismos de información que pudieren contener los
    contenidos. El Usuario de este Espacio Web se compromete a respetar los derechos enunciados y a
    evitar cualquier actuación que pudiera perjudicarlos, reservándose en todo caso la empresa el
    ejercicio de cuantos medios o acciones legales le correspondan en defensa de sus legítimos derechos
    de propiedad intelectual e industrial.</p>
    <h3 class="title">
        5. OBLIGACIONES Y RESPONSABILIDADES DEL USUARIO DEL ESPACIO WEB
    </h3>
    <p class="title">El Usuario se compromete a:</p>
    <ol>
        <li>Hacer un uso adecuado y lícito del Espacio Web así como de los contenidos y servicios, de 
        conformidad con: (i) la legislación aplicable en cada momento; (ii) las Condiciones Generales
        de Uso del Espacio Web; (iii) la moral y buenas costumbres generalmente aceptadas y (iv) el
        orden público.</li>
        <li>Proveerse de todos los medios y requerimientos técnicos que se precisen para acceder al
        Espacio Web.</li>
        <li>Facilitar información veraz al cumplimentar con sus datos de carácter personal los
        formularios contenidos en el Espacio Web y a mantenerlos actualizados en todo momento
        de forma que responda, en cada momento, a la situación real del Usuario. El Usuario será el
        único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios
        que cause a la empresa o a terceros por la información que facilite.</li>
    </ol>
    <p class="title">No obstante lo establecido en el apartado anterior el Usuario deberá asimismo abstenerse de:</p>
    <ol>
        <li>Hacer un uso no autorizado o fraudulento del Espacio Web y/o de los contenidos con fines o
        efectos ilícitos, prohibidos en las presentes Condiciones Generales de Uso, lesivos de los
        derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar,
        sobrecargar, deteriorar o impedir la normal utilización de los servicios o los documentos,
        archivos y toda clase de contenidos almacenados en cualquier equipo informático.</li>
        <li>Acceder o intentar acceder a recursos o áreas restringidas del Espacio Web, sin cumplir las
        condiciones exigidas para dicho acceso.</li>
        <li>Provocar daños en los sistemas físicos o lógicos del Espacio Web, de sus proveedores o de
        terceros.</li>
        <li>Introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o
        lógicos que sean susceptibles de provocar daños en los sistemas físicos o lógicos de la
        empresa, proveedores o de terceros.</li>
        <li>Intentar acceder, utilizar y/o manipular los datos de la empresa, terceros proveedores y
        otros Usuarios.</li>
    </ol>
</div>
