<div class="edition-panel mt-3 ms-5">
  <div class="title d-flex mb-2">
    <h2 class="me-auto">Panel de edición</h2>
      </div>
  <div class="container">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 mt-2 d-flex align-items-center justify-content-end">
        <div class="border image" [ngStyle]="{ 'background-image': 'url(' + data.image + ')' }"></div>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 mt-2 d-flex align-items-center justify-content-start">
        <a class="nav-link text-dark" routerLink="/dashboard/edition"
      ><img class="icon me-3" src="../../../assets/icons/camara.svg" />Subir
      imagen</a
    >
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-5">
        <div class="form-group">
          <label for="price">Precio</label>
          <input
            type="text"
            class="form-control"
            id="price"
            [value]="data.price"
            #price
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta-p">€</p>
      </div>



      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="brand">Marca</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            [value]="data.brand"
            #brand
          />
        </div>


      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>


      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="model">Modelo</label>
          <input
            type="text"
            class="form-control"
            id="model"
            [value]="data.model"
            #model
          />
        </div>
        </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="fabricationDate">Fecha de fabricación</label>
          <input
            type="text"
            class="form-control"
            id="fabricationDate"
            [value]="data.fabric_date"
            #fabric_date
          />
        </div>
        </div>

        <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
          <p class="etiqueta"></p>
        </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="CPU">CPU</label>
          <input
            type="text"
            class="form-control"
            id="CPU"
            [value]="data.cpu"
            #cpu
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="cores">Núcleos CPU</label>
          <input
            type="text"
            class="form-control"
            id="cores"
            [value]="data.cpu_core"
            #cpu_core
          />
        </div>
         </div>

         <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
          <p class="etiqueta"></p>
        </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="cpuSpeed">Velocidad CPU</label>
          <input
            type="text"
            class="form-control"
            id="cpuSpeed"
            [value]="data.cpu_speed"
            #cpu_speed
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta">GHz</p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="memoryType">Tipo de memoria RAM</label>
          <input
            type="text"
            class="form-control"
            id="memoryType"
            [value]="data.ram_type"
            #ram_type
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="RAMSpeed">Velocidad memoria RAM</label>
          <input
            type="text"
            class="form-control"
            id="RAMSpeed"
            [value]="data.ram_speed"
            #ram_speed
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta">MHz</p>
      </div>


      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="RAMSize">Tamaño memoria RAM</label>
          <input
            type="text"
            class="form-control"
            id="RAMSize"
            [value]="data.ram_size"
            #ram_size
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta">GB</p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="expandableRAM">Memoria RAM ampliable</label>
          <input
            type="text"
            class="form-control"
            id="expandableRAM"
            [value]="data.ram_expand"
            #ram_expand
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta">GB</p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="graphics">Tarjeta gráfica</label>
          <input
            type="text"
            class="form-control"
            id="graphics"
            [value]="data.graphics"
            #graphics
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="resolution">Resolución máxima</label>
          <input
            type="text"
            class="form-control"
            id="resolution"
            [value]="data.resolution"
            #resolution
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="ROM">Almacenamiento interno</label>
          <input
            type="text"
            class="form-control"
            id="ROM"
            [value]="data.rom"
            #rom
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="HDMI">Puerto HDMI</label>
          <input
            type="text"
            class="form-control"
            id="HDMI"
            [value]="data.hdmi"
            #hdmi
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="USB">Puertos USB</label>
          <input
            type="text"
            class="form-control"
            id="USB"
            [value]="data.usb"
            #usb
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="battery">Vida útil de la batería</label>
          <input
            type="text"
            class="form-control"
            id="battery"
            [value]="data.battery"
            #battery
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta">mAh</p>
      </div>


      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="OS">Sistema Operativo</label>
          <input
            type="text"
            class="form-control"
            id="OS"
            [value]="data.os"
            #os
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta"></p>
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5 mt-2">
        <div class="form-group">
          <label for="weight">Peso</label>
          <input
            type="text"
            class="form-control"
            id="weight"
            [value]="data.weight"
            #weight
          />
        </div>
      </div>

      <div class=" col-1 col-sm-1 col-md-1 col-lg-1 mt-5">
        <p class="etiqueta">kg</p>
      </div>


    </div>
  </div>
  <div class="d-flex justify-content-center">
  <button *ngIf="isEditMode" class="mt-3 btn btn-dark">Actualizar portátil</button>
  <button *ngIf="!isEditMode" class="mt-3 btn btn-dark">Añadir portátil</button>
</div>
</div>
